// * static tag and classes
.m-a {
  margin: auto auto !important;
}

.my-a {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mx-a {
  margin-right: auto !important;
  margin-left: auto !important;
}

.cursor-pointer {
  &:hover {
    cursor: pointer !important;
  }
}

a {
  text-decoration: none;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-divider {
  border-top: 2px dashed var(--v-disabledText-base) !important;
}

.d-between {
  display: flex;
  justify-content: space-between;
}

.d-around {
  display: flex;
  justify-content: space-around;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.no-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

// * dynamic classes
// ! generate font size classes
@for $i from 1 through 32 {
  $fontsize: 0.1rem * $i;
  .font-#{$i} {
    font-size: $fontsize !important;
  }
}

@for $i from 1 through 32 {
  $lineHeight: 0.1rem * $i;
  .lh-#{$i} {
    line-height: $lineHeight !important;
  }
}
